.body{
    max-width: 1229px;
    padding: 15px;
}
.title{
    position: absolute;
    flex-direction: column;
    margin-left: 16%;
}
main{
    display: flex;
}
.linha1{
    display: flex;
    flex-direction: row;

}
main #text1{
    display: flex;
    text-align: left;
    width: 50%;
    margin-top: 30%;
}
main #img1{
    margin-top: 13%;
    margin-left: 40vw;
    width: 50%;
    height: 65%;
    position: absolute;

}
main #text2{
    display: flex;
    position: absolute;
    text-align: right;
    width: 50%;
    margin-left: -50%;
    margin-top: 55%;
}
main #img2{
    position: absolute;
    margin-top: 40%;
    width: 30%;
    margin-left: -90%;
}
.linha3{
    display: flex;
    position: absolute;
    margin-left: 25%;
    margin-top: 80%;
}

