.title{
    display: flex;
    justify-content: center;
}
.title h1{
    border-bottom: 2px solid rgb(122, 14, 201);
}
.janela{
    margin: 10% auto 0% 10%;
    justify-content: space-between;
    display: flex;
}

.partida{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn{
    background-color: rgb(122, 14, 201);
    color: white;
    font-weight: bold;
    border: 2px solid rgb(122, 14, 201);
    padding: 10px;
    border-radius: 15px;
}
#btn:hover{
    cursor: pointer;
}