.title{
    display: flex;
    justify-content: center;
}
.title h1{
    border-bottom: 2px solid rgb(122, 14, 201);
}
.janela{
margin: 10% auto 0% 10%;
justify-content: space-around;
display: flex;
}
