body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
    
header{
    display: flex;
    /* position: fixed; */
    flex-direction: row;
    margin-top: -1%;
    justify-content: space-between;
    align-items: center;
}
#logo{
    margin-right: -10%;
    height: 125px;
    width: 125px;
}
#logoName{
    height: 140px;
    width: 140px;
    /* position: relative; */
    margin-right: -5%;
}


header li{
    display: inline-block;
    margin: 20px;
}

a{
    color:white;
}

header a:hover{
    color: rgb(122, 14, 201);
    transition: 0.3s;
}

#inscreva-se-btn{
    border: 2px solid rgb(122, 14, 201);
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover{
    background-color: rgb(122, 14, 201);
    color: white;
}
    

#title h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: rgb(122, 14, 201);
}

.main p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 600px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(122, 14, 201);
    color: white;
    font-weight: bold;

}

form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}


.footer {
    background-color: #000000;
    height: 150px;
    margin-top: 5%;
    margin-left: -13.3%;
    margin-bottom: -5%;
    width: 126.6%;
    color: #fff;
    font-size: 15px;
}

.footer .container2, .footer .container4 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer .container2 .closed, .footer .container4 .closed{
    margin-left: 30%;
  }
  
  .footer .container2 .version, .footer .container4 .version {
    font-size: 12px;
  }
  .imgLogo{
    position: absolute;
    margin-left: -90%;
    margin-top: 5%;
  }
  #logoFooter{
    align-items: flex-start;
    height: 100px;
    width: 100px;
}
.social{
    margin-left: 10%;
}
#social{
    justify-content: space-between;
    /* margin-left: 10%; */
    /* position: absolute; */
    height: 50px;
    width: 50px;
}
